.App{
  width: 100vw;
  height: 100vh;
}

body{
  margin: 0;
  padding: 0;
  text-align: center;
}

.Sidebar{
  height: 50%;
  width: 250px;
  background: #c2bdbd;
}

.SidebarList{
  width: 100%;
  height: 100%;
}

.img{
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.imgof{
  width: 130px;
  height: 130px;
  }